.image-holder {
  border-radius: 50%;
  aspect-ratio: 1;
  width: 15rem;
  overflow: hidden;
  display: flex;
}

.image-holder img {
  position: relative;
  left: -100px;
  top: -10px;
  height: 110%;
  opacity: .5;
  object-fit: cover;
}

.server {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: "montserret";

}

.text {
  color: rgb(0, 0, 0);
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App {
  min-height: 100vh;
  position: relative;


  position: relative;
  color: rgb(255, 255, 255);

}

.home-heading {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-description {
  position: absolute;
  max-width: 80%;
  top: 50%;
  left: 10%;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: -1;
  animation: bganimation 15s infinite;
  background-image: linear-gradient(125deg, #2c3e50, #27ae60, #2980b9, #e74c3c, #8e44ad);

  background-position: top;
  background-size: 400%;
}

@keyframes bganimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



.login {
  background: url("../src/pictures/food\ login.jpg");
  background-position: top;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  color: black;
}

.login-form {
  width: calc(100% - 20px);
  max-width: 580px;
  background-color: white;
  padding: 50px 40px;
}

.login-form h2 {
  text-align: center;
  margin: 48px 0;
  font-size: 36px;
  color: #111;
  font-size: 36px;
}

.form-group-signin {
  margin-bottom: 12px;
  position: relative;
  display: flex;
}

.form-group-signin input {
  width: 100%;
  height: 70px;
  border: none;
  background-color: #cdcdcd;
  border-radius: 4px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  padding: 14px 60px 0 10px;
}

.placeholder {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  line-height: 70px;
  top: 0;
  left: 20px;
  color: #9d9d9d;
  user-select: none;
  pointer-events: none;
}

.show-password {
  position: absolute;
  right: 20px;
  line-height: 70px;
  color: #9d9d9d;
  font-size: 22px;
  cursor: pointer;
}

.form-group-signin input:focus~.placeholder,
.form-group-signin input:valid~.placeholder {
  left: 10px;
  top: -16px;

}

.btn-block {
  display: block;
  width: 100px;
  height: 100px;
  margin: 40px auto;
  background-color: #27ae60;
  color: #fff;
  font-size: 48px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s linear;
}

.btn-block:hover {
  opacity: .85;
}

.a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: #555;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 8px;
  transition: .2 linear;

}

.a:hover {
  color: #111;
}

.btn-block:disabled {
  background-color: transparent;
  color: #ddd;
  border: 2px solid;
}

.signup-form {

  width: 500px;
  padding: 25px;
  text-align: center;
  background: url(../src/pictures/createAccount.jpg);
  background-size: cover;
  background-position: 50%;
  background-position: top;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  color: black
}

.signup-form h2 {
  margin-top: 100px;
  font-size: 40px;
}

.signup-form input {
  display: block;
  width: 100%;
  padding: 0 16px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border: none;
}

.signB {
  margin: 20px 0;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 6px;
}

.sign-btn {
  margin-top: 60px;
  margin-bottom: 20px;
  width: fit-content;
  background: #27ae60;
  color: #fff;
  border-radius: 44px;
  cursor: pointer;
  transition: 0.8s;

}

.card {


  color: #9b59b9;
  background: #322e35;
  
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr)) !important;
  box-shadow: 0px 0px 20px #000000b3;
  margin-top: 15%;
  overflow: hidden;
}




.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

input {
  font-size: 1rem;
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: .25rem;
  margin-top: 1rem;
}

.right-aligned-link {
  text-align: right;
  float: right;
}

* {
  box-sizing: border-box;
}

form.search input[type=text] {
  /* padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  background: #f1f1f1; */
  float: left;
  width: 80%;
}

/* Style the submit button */
form.search button {
  float: left;
  /* width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search button:hover {
  background: #029c4f;
}

/* Clear floats */
form.search::after {
  content: "";
  clear: both;
  display: table;
}

.popup{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  
  
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}


.popup-inner{
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  
  background-color: white;
  
}

.popup-inner .close-btn{
  position: absolute;
  top: 86px;
  right: 250px;
}

.cover{
  height: 25vH;
  top: 0;
  
}

.cover2{
  
  height: 25vH;
  width: 25vH;
  justify-content: left;
 
  float: left;
  align-items: center;
  overflow: hidden;
  display: block;
  border: 5px solid #8e44ad;
}
.name1{
  
  margin-left: 1rem;
  margin-inline-start: 20px; 
  writing-mode: horizontal-tb;
  float: left;
  writing-mode: horizontal-tb;
  
  
}


.viewButton{
  width: 100%;
  background-color: #9b59b9;
  border-radius: 12px;
  color: white;
  text-align: center;
  display: block;
}
.viewButton2{
  
  background-color: #9b59b9;
  border-radius: 12px;
  color: white;
  text-align: center;
  display: block;
}

.card-body h3{
  font-weight: bolder;
  text-shadow: 2px 2px #0e0114;
}

.card-body h4{
  color: #9b59b9;
  
}

.card-body p{
 color: white;
 margin: 30px 0;
}

.item{
  margin: 6px 0;

}

.rating{
  display: block;
  font-size: 30px;
}

.word{
  font-size: 20px;
}

.right-section{
  overflow: hidden;
  float: right;
  text-align: right;
  color: white;
}

.left-section{
  overflow: hidden;
  float: left;
}

.contact{

  margin-top: 3rem;
  width: 100%;
  padding: 20px;
  background-color: #2c3e50b3;
  display: inline-block;
}

.body-contact{
  display: inline-block;
  width: 35%;
  background-color: #2c3e50b3;
  justify-content: center;
 
}



.map-img{
  
  height: 50vH;
  width: 50vH;
 
 
  
}



.map-img img{
  
  max-height: 100%;
  display: block; /* remove extra space below image */
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  
}

.address-info{
  
 text-align: center;
  padding: 1rem;
 
 

}
.address-info h4{
  color: #330646;
  font-weight: 20vH;
  font-family: fantasy;
}

.address-info p{
  font-weight: 300;
}

.section-header{
  position: relative;
  padding-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.section-header::after{
  content: "";
  height: 4px;
  width: 100px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 50px);
  background: #9b59b9;
}


.testimonial-view{
  max-width: 900px;
  padding: 0 15px 50px;
  margin: 0 auto 70px auto;
  border-radius: 3px;
}

.block{
  background: #fff;
  color: rgb(255, 255, 255);
  padding: 60px 15px 15px;
  margin: 50px 50px;
  box-shadow: 0 5px 30px -5px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 5px 30px -5px rgba(0,0,0,0.15);
  background-color: #2c3e50b3;
}

.block .row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: normal;
}

.user{
  margin-bottom: 30px;
  text-align: center;
}

.image{
  position: relative;
  margin: 0 15px 30px 15px;
}

.image img{
  height: 170px;
  width: 170px;
  border: 7px solid #9b59b9;
  border-radius: 170px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 5px 30px -5px rgba(0,0,0,0.1);
}

.user-name{
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  padding-bottom: 10px;
  position: relative;
}

.user-name::after{
  content: "";
  height: 4px;
  width: 50px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 25px);
  background: #9b59b9;
}

.content{
  text-align: center;
  font-size: 18px;
}

.carousel-control-prev{
  left: -50px;
}

.carousel-control-next{
  right: -50px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
  width: 40px;
  height: 40px;
  
}

.header-img1{
  background-size: 100% auto;
  height: 40em;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
}