.image-holder {
  border-radius: 50%;
  aspect-ratio: 1;
  width: 15rem;
  overflow: hidden;
  display: flex;
}

.image-holder img {
  position: relative;
  left: -100px;
  top: -10px;
  height: 110%;
  opacity: .5;
  object-fit: cover;
}

.server {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

*{
  margin: 0;
  padding: 0;
  font-family: "montserret";
  
}

.text{
  color: rgb(0, 0, 0);
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App {
  min-height: 100vh;
  position: relative;
  background-image: linear-gradient(125deg, #2c3e50, #27ae60, #2980b9, #e74c3c, #8e44ad);
  background-position: top;
  background-size: cover;
  position: relative;
  color: rgb(255, 255, 255);
}

.home-heading {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-description {
  position: absolute;
  max-width: 80%;
  top: 50%;
  left: 10%;

}